* {
    box-sizing: border-box;
    text-align: center;
}

h1 {
    color: red;
}

h2 {
    font-style: italic;
    font-weight: bold;
}

.ingredients-name {
    font-weight: bold;
}

.ingredients-clarification {
    text-decoration: underline;
}

.ingredients-strike-through {
    text-decoration: line-through;
}

.ingredients-attention {
    background-color: yellow;
}

hr {
    height: 6px;
    width: 40%;
    color: green;
    background-color: green;
}