* {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    line-height: 40px;
}
p {
    color: green;
    text-align: center;
}
div {
    text-align: justify;
}
.color {
    color: red;
}
.text-wrapping {
    white-space: nowrap;
}
#style {
    font-style: italic;
    font-weight: bold;
}
.shadow {
    text-shadow: 5px -5px 3px #000
}
.first-div {
    text-decoration: line-through;
    text-transform: uppercase;
    text-indent: 50px;
 }
.second-div {
    letter-spacing: 30px;
    word-spacing: 50px;
}