* {
  box-sizing: border-box;
}

.blocks {
  width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.medium-block {
  position: absolute;
  top: 70px;
  left: 0;
  height: 200px;
  width: 300px;
  background-color: royalblue;
  border: 2px solid black;
  padding: 20px;
  color: white;
}

.top-block {
  position: absolute;
  top: 0;
  left: 300px;
  display: inline-block;
  height: 200px;
  width: 300px;
  background-color: green;
  border: 2px solid black;
  padding: 20px;

}

.bottom-block {
  position: absolute;
  top: 100px;
  left: 600px;
  height: 200px;
  width: 300px;
  background-color: aqua;
  border: 2px solid black;
  padding: 20px;

}
