* {
  box-sizing: border-box;
}

.weather-widget {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  background-color: #a4a4a4;
  font-family: Arial, sans-serif;
}

.forecast-panel {
  position: absolute;
  width: 250px;
  height: 150px;
  background-color: white;
  bottom: 50px;
  left: 350px;
  transform: translateX(-50%);
  z-index: 1;
  box-shadow: 5px 5px rgba(47, 43, 43, 0.3);
  padding: 106px 5px 10px 5px;
  opacity: 0.5;
}

.forecast-day {
  font-size: 16px;
  float: left;
  width: 20%;
  text-align: center;
}

.forecast-day span {
  display: block;
}

.forecast-day span:first-child {
  color: #aaa;
  font-size: 13px;
}

.forecast-day span:last-child {
  color: #333;
  font-weight: bold;
  margin-top: 5px;
}

.main-panel {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: black;
  top: 20px;
  left: 80px;
  z-index: 2;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
  padding: 140px 20px 20px 20px;
}

.temperature {
  font-size: 90px;
  font-weight: 500;
  color: #b0b0b0;
  line-height: 1;
}


.cloud-image {
  position: absolute;
  width: 300px;
  top: 20px;
  right: 30px;
  z-index: 3;
  opacity: 0.9;
}

.nav-arrows {
  position: absolute;
  top: 100px;
  left: 45px;
  z-index: 4;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ccc;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
}

.nav-arrows span:first-child {
  margin-right: 10px;
}
