* {
  box-sizing: border-box;
}

.navs {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 50px 0 0 250px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  color: white;
  transition: background-color 0.2s ease;
}

.horizontal-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}

.horizontal-list-item {
  float: left;
  position: relative;
}

.horizontal-list-item:last-child {
  float: right;
}

.horizontal-nav a {
  padding: 14px 20px;
}

.horizontal-nav .material-icons {
  font-size: 25px;
}


.horizontal-list-item:active a {
  background-color: #4CAF50;
}

.horizontal-nav li:hover {
  background-color: #555;
}

.horizontal-nav .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #555;
  min-width: 200px;
  white-space: nowrap;
}

.horizontal-nav .dropdown li {
  float: none;
}

.horizontal-nav .dropdown a {
  padding: 12px 16px;
}

.horizontal-list-item:hover > .dropdown {
  display: block;
}

.horizontal-nav::after {
  content: "";
  display: table;
  clear: both;
}


.vertical-nav {
  position: fixed;
  top: 50px;
  left: 0;
  width: 250px;
  height: calc(100vh - 50px);
  background-color: #007BFF;
  z-index: 999;
}

.vertical-list-item {
  position: relative;
}

.vertical-nav a {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  align-items: center;
}

.vertical-nav .material-icons {
  margin-right: 15px;
}

.vertical-list-item:active > a {
  background-color: rgba(0, 0, 0, 0.2);
}

.vertical-list-item:hover > a {
  background-color: rgba(0, 0, 0, 0.1);
}

.vertical-nav .dropdown-l2,
.vertical-nav .dropdown-l3 {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 250px;
  z-index: 1001;
}

.vertical-nav .dropdown-l2 {
  background-color: #0069D9;
}

.vertical-nav .dropdown-l3 {
  background-color: #0056B3;
}

.vertical-nav > ul > li:hover > .dropdown-l2 {
  display: block;
}
.vertical-nav .dropdown-l2 > li:hover > .dropdown-l3 {
  display: block;
}

main {
  padding: 20px;
}
