* {
  box-sizing: border-box;
}

.blocks {
  width: 1140px;
  margin: auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

.initial-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 400px;
  background-color: green;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}

.secondary-block {
  position: absolute;
  top: 0;
  left: 640px;
  width: 300px;
  height: 400px;
  background-color: royalblue;
  border: 2px solid black;
  padding: 20px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 2s ease-in;
}

.final-block {
  position: relative;
  top: -20px;
  left: 300px;
  width: 300px;
  height: 400px;
  background-color: purple;
  border: 2px solid black;
  padding: 20px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 2s ease-in;
}

.initial-block:hover ~ .secondary-block,
.secondary-block:hover ~ .final-block,
.secondary-block:hover {
  opacity: 1;
}
